body{
	width: 100%;
	padding: 0px;
	margin: 0px;
	background: url(img/beijing.jpg) no-repeat;
	font-family: "Microsoft YaHei","tahoma";
}
*{
	padding: 0px;
	margin: 0px;
	border: 0px;
	text-decoration: none;
	list-style-type: none;
	cursor: pointer;
}
a{
	transition:all .3s ease-in-out;
	transition-delay:.1s;
}
#head-link{
	width: 60%;
	height: 60px;
	padding:0 20%;
	border: none;
	margin: 0px;
	background-color: #fff;
	display: block;
	position: relative;
}
#head-link img{
	display: block;
	float: left;
}

ul.nav{
	width: 60%;
	height:60px;
	float: left;
	margin-left:50px;
	padding: 0px; 
}
ul.nav ul{
	width: 100%;
	height: 140px;
	background-color:#fff;
	margin: 0px;
	padding-left: 300px;
	z-index: 99999;
}
ul.nav li{
	float: left;
}
ul.nav li a{
	display: block;
	width: 106px;
	height: 60px;
	line-height:60px;
	background-color: #fff;
	list-style-type: none;
	text-decoration: none;
    font-size: 14px;
    color:gray;
	text-align: center;
	transition:all .3s ease-in-out;
	transition-delay:.1s;
}
ul.nav li a:hover{
	color: #fff;
	background-color:#008cd6; 
}
ul.nav li ul{
	position: absolute;
	left: -999em;
}
.nav li:hover ul{
	left:0px;
}
.nav li ul li{
	float: left;
}
.nav li.fir a{
	width:250px;
	height: 140px;
	background: url("img/over.png") no-repeat;
	background-position: 0 0;
	transition:all .3s ease-in-out;
	transition-delay:.1s;
}
.nav li.fir:hover a{
	background: url("img/over.png") no-repeat;
	background-position: 0 -170px;
	background-color: #008cd6;
}
.nav li.sec a{
	width:250px;
	height: 140px;
	background: url("img/over.png") no-repeat;
	background-position:-250px 0;
	transition:all .3s ease-in-out;
	transition-delay:.1s;
}
.nav li.sec:hover a{
	background: url("img/over.png") no-repeat;
	background-position: -250px -170px;
	background-color: #008cd6;
}
.nav li.thi a{
	width:250px;
	height: 140px;
	background: url("img/over.png") no-repeat;
	background-position:-500px 0;
	transition:all .3s ease-in-out;
	transition-delay:.1s;
}
.nav li.thi:hover a{
	background: url("img/over.png") no-repeat;
	background-position: -500px -170px;
	background-color: #008cd6;
}
.nav li.fou a{
	width:250px;
	height: 140px;
	background: url("img/over.png") no-repeat;
	background-position:-750px 0;
	transition:all .3s ease-in-out;
	transition-delay:.1s;
}
.nav li.fou:hover a{
	background: url("img/over.png") no-repeat;
	background-position: -750px -170px;
	background-color: #008cd6;
}
.nav li.fif a{
	width:250px;
	height: 140px;
	background: url("img/over.png") no-repeat;
	background-position:-1000px 0;
	transition:all .3s ease-in-out;
	transition-delay:.1s;
}
.nav li.fif:hover a{
	background: url("img/over.png") no-repeat;
	background-position:-1000px -170px;
	background-color: #008cd6;
}

.search-user{
	width: 15%;
	height: 60px;
	margin: 0px;
	padding: 0px;
	float: right;
	height: 60px;
}
.search-user a{
	width: 42px;
	height: 42px;
	display: inline-block;
	background: none repeat scroll 0% 0% #fff;
	overflow: hidden;
	position: relative;
	top:8px;
	margin-left: 15px;
	float: left;
	border:1px #e7e7e7 solid;
	border-radius: 50%;
}
.search-user b{
	background: url(img/search.png) no-repeat scroll 0% 0%;
	transition:all .3s ease-in-out;
	transition-delay:.1s;
}
.search-user a.search:hover b{
	background-position:0 -43px;
	background-color: #008cd6;
}
.search-user a b{
	width: 42px;
	height: 42px;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	transition-delay: 0.1s;
}
.search-user a.user b {
    background-position: -43px 0px;
}
.search-user a.user:hover b{
	background-position:-43px -43px;
	background-color: #008cd6;
}
#height-box{
	width: 100%;
	height: 700px;
	padding: 0px;
	border: 0px;
}
#height-box1{
	width: 55%;
	height: 700px;
	padding: 0px;
	margin: auto;
	position: relative;
}
#height-box-left{
	width: 55%;
	height: 460px;
	position: absolute;
	top:100px;
	left: 10px;
}
#height-box-right{
	width: 30%;
	height: 560px;
	position: absolute;
	top: 50px;
	right: 10px;
}
#focus-box{
	width: 100%;
	height: 701px;
	margin: 0px;
	padding: 0px; 
}
#focus-b{
	width: 1104px;
	height: 240px;
	padding: 0px;
	margin: auto;
}
#focus-b a{
	width: 368px;
	height: 240px;
	float: left;
	padding: 0px;
	margin: 0px;
	display: block;
}
#content{
	width: 100%;
	height: 440px;
	padding: 0px;
	margin:0px;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	background-image: url(img/content.png);
}
#content-con{
	width: 1100px;
	height: 400px;
	padding: 0px;
	border: 0px;
	margin-top:40px;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: auto; 
}
#content-left{
	width: 540px;
	height: 390px;
	padding: 0px;
	margin:0px;
	border: 0px;
	float: left;
	border-bottom-color: #F2F2F2;
	border-bottom-style: solid;
	border-bottom-width: 1.2px;

}
#content-left h2{
	width: 500px;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	margin: 0px;
	background: none repeat scroll 0% 0% #008CD6;
    color: #FFF;
    text-shadow: none;
    font-size: 18px;
}
#content-left-p{
	width: 540px;
	height: 170px;
	border: 0px;
	padding-top: 20px;
	margin-left:0px;
}
#content-left-p a{
	overflow: hidden;
	display: block;
	width: 262px;
	height: 170px;
	position: relative;
}
#content-left-p1{
	float: left;
}
#content-left-p2{
	float: right;
}
#content-left-p a:hover{
	opacity: 0.8;
}
#content-list{
	width: 540px;
	height: 146px;
	padding-top: 20px;
	margin: 0px;
	border: 0px;
	overflow: hidden;
}
ul{
	list-style-type: none;
	width: 540px;
	height: 146px;
	padding: 0px;
	margin:0px;
}
#content-list a:hover{
	color: #008cd6;
}
#list-a{
	float: left;
	width: 262px;
	height: 116px;
}
#list-b{
	float: right;
	width: 262px;
	height: 116px;
}
#content-list span{
	background:#008CD6;
	color: #fff;
	width: 48px;
	height: 20px;
	line-height: 1.4em;
	margin-right: 5px;
	display: inline-block;
	border-radius: 12px;
	font-size: 11px;
	text-align: center;
}
#list-a a,#list-b a{
	padding: 0px;
	margin:0px;
	text-decoration: none;
	width: 262px;
	height: 24px;
	line-height: 24px;
	display: block;
	overflow: hidden;
	margin-bottom: 5px;
	color: gray;
	font-size: 14px;
}
#content-right{
	width: 540px;
	height: 390px;
	overflow: hidden;
	float: right;
	border-bottom: 1px #fff solid;
	position: relative;
	background-color: rgb(246, 242, 239);
}
#content-right h2{
	width: 500px;
	height: 50px;
	padding: 0 20px;
	margin: 0px;
	background: #ed7627;
	color: #FFF;
	line-height: 50px;
    font-size: 18px;
}
#content-right-con{
	width: 500px;
	height: 300px;
	padding: 20px;
	overflow: hidden;
}
#content-right-con-left{
	width: 242px;
	height: 300px;
	overflow: hidden;
	position: relative;
	float: left;
}
.pic{
	width: 242px;
	height: 170px;
	margin-bottom: 10px;
	padding: 0px;
}
#content-right-con-left a{
	height:170px;
	width: 255px;
	padding: 0px;
	margin:0px;
	 }
#content-right-con-left h3{	
	font-size: inherit;
	font-weight: normal;
	padding-bottom:10px;
	margin: 0px;
	width: 242px;
	height: 19px;
}
#content-right-con-left h3 a{
	width: 242px;
	height: 19px;
	padding-bottom:10px;
	margin: 0px;
	text-decoration: none;
	color:#ed7627;
	font-size: 14px;
}
#content-right-con p{
	width: 242px;
	height: 54px;
	color: #555;
	padding: 4px 0;
	height: 46px;
	overflow: hidden;
	display: block;
	font-family: 'Microsoft YaHei', tahoma;
	font-size: 12px;
}
#content-right-con-left #join-now{
	width: 75px;
	height: 25px;
	line-height: 25px;
	display: block;
	background:#ed7627;
	text-align: center;
	color: #fff;
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 2px;
	-webkit-transition:background .2s ease-in-out;
	text-decoration: none;
}
#content-right-con-left a#join-now:hover{
	background: none repeat scroll 0% 0% #E35B00;
}
#content-right-con-right{
	width: 242px;
	height: 300px;
	padding: 0px;
	margin-left: 16px;
	float: right;
	position: relative;

}
#content-right-con-right a{
	height:170px;
	width: 255px;
	padding: 0px;
	margin:0px;
	 }
#content-right-con-right h3{
	width: 242px;
	height: 19px;
	padding-bottom:10px;
	margin: 0px;
	font-size: inherit;
	font-weight: normal;
}
#content-right-con-right h3 a{
	width: 242px;
	height: 19px;
	padding-bottom:10px;
	padding-top: 5px;
	margin: 0px;
	text-decoration: none;
	color:#ed7627;
	font-size: 14px;
}
#content-right-con-right #join-now{
	width: 75px;
	height: 25px;
	line-height: 25px;
	display: block;
	background:#ed7627;
	text-align: center;
	color: #fff;
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 2px;
	-webkit-transition:background .2s ease-in-out;
	text-decoration: none;
}
#content-right-con-right a#join-now:hover{
	background: none repeat scroll 0% 0% #E35B00;
}
#footer{
	width: 100%;
	height: 140px;
	background: #202223;
	padding:0px;
	margin-top:100px;
}
#footer-main{
	width: 1100px;
	height: 77px;
	padding-top: 30px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.sns-list{
	position: absolute;
	top: 30px;
	right: 0px;
	color: #ccc;
	
}
.sns-list a{
	width: 27px;
	height: 27px;
	display: inline-block;
	overflow: hidden;
	margin-left: 8px;
	background: #4d4e4f;
	border-radius: 4px;
	transition: background .2s ease-in-out;
	vertical-align: middle;
}
.sns-list a b{
	width: 27px;
	height: 27px;
	overflow: hidden;
	display: inline-block;
	background: url("img/footer.png") no-repeat;
	background-size: 135px 54px;
	transition:all .3s ease-in-out;
	transition-delay:.1s;
}
.sns-list a.sina b{
	background-position: 0 0;
}
.sns-list a.tencent b{
	background-position: -27px 0;
}
.sns-list a.qzone b{
	background-position: -81px 0;
}
.sns-list a.renren b{
	background-position: -108px 0;
}
.sns-list a.weixin b{
	background-position: -54px 0;
}



.sns-list a.sina:hover b{
	background-position: 0 -27px;
	background-color:#e52c42;	
}
.sns-list a.tencent:hover b{
	background-position: -27px -27px;
	background-color: #14addf;
}
.sns-list a.qzone:hover b{
	background-position: -81px -27px;
	background-color:#ffc600;
}
.sns-list a.renren:hover b{
	background-position: -108px -27px;
	background-color:#056be8;
}
.sns-list a.weixin:hover b{
	background-position: -54px -27px;
	background-color:#20a900;
}
.weixin img{
	width: 143px;
	height: 143px;
	position: absolute;
	bottom: 40px;
	right: -999em;
	border-radius: 2px;
	z-index: 999;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.weixin:hover img{
	right: -56px;
}
#footer-nav{
	color: rgb(204, 204, 204);;
	font-size: 14px;
	padding-bottom: 8px;
	margin-left: 135px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 5px;
	padding-right: 200px;
}
#footer-nav a{
	color: rgb(204, 204, 204);
	font-family: 'Microsoft YaHei', tahoma;
	font-size: 14px;
}
#footer-nav a:hover{
	color: rgb(0, 140, 214);
}
#footer-logo{
	width: 95px;
	height: 30px;
	display: inline-block;
	float: left;
	position: relative;
	margin-right: 40px;
	top: -15px;
	background: url(img/log.jpg) no-repeat;
}
#footer-nav1{
	color: rgb(102, 102, 102);
	display: block;
	font-family: 'Microsoft YaHei', tahoma;
	font-size: 12px;
	height: 34px;
	padding-top: 5px;
	padding-right: 200px;
	margin: 0px;
}
#footer-nav1 a{
	color: rgb(102, 102, 102);
	display: inline;
	font-family: 'Microsoft YaHei', tahoma;
	font-size: 12px;
	height: 34px;
}
#footer-nav1 a:hover{
	color: rgb(0, 140, 214);
}

